<a href="https://colab.research.google.com/github/dpmanoj/ALVA_SESSION/blob/master/Day_2_sesson_1_Examples_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:1
Enter element:2
Enter element:3
Largest element is: 3

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
      even.append(j)
    else:
      odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:4
Enter element:9
Enter element:7
The even list [2, 4]
The odd list [1, 9, 7]

In [0]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:4
Enter element:9
Enter element:4
Enter element:1
Enter element:2
Enter number of elements:4
Enter element:8
Enter element:2
Enter element:3
Enter element:5
Sorted list is: [1, 2, 2, 3, 4, 5, 8, 9]

In [0]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
      if(a[i][1]>a[j][1]):
          temp=a[j]
          a[j]=a[i]
          a[i]=temp

print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:4
Enter element:9
Enter element:0
Enter element:2
Enter element:8
Second largest number is: 8

In [0]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:10
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [0]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:10
Randomised list is:  [9, 4, 7, 6, 17, 4, 2, 10, 2, 14]

In [0]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
    t.append((len(word), word))
    t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [0]:
pair = ("dog", "cat")
(key, value) = pair
print(key)
print(value)

dog
cat

In [0]:
pair = ("dog", "cat")
if "cat" in pair:
  print("Cat found")
if "bird" not in pair:
  print("Bird not found")

Cat found
Bird not found

In [5]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

In [6]:
 listOfStrings = ['hi' , 'hello', 'at', 'this', 'there', 'from']
 listOfStrings.sort()
 print(listOfStrings)
 listOfStrings.sort(reverse=True)
 print(listOfStrings)

['at', 'from', 'hello', 'hi', 'there', 'this']
['this', 'there', 'hi', 'hello', 'from', 'at']

In [9]:
lst = ('am', 'watermelon', 'girl', 'boy', 'colour') 
print(max(lst) )

watermelon