<a href="https://colab.research.google.com/github/dpmanoj/ALVA_SESSION/blob/master/Day_2_session_2_Example_programs%E2%80%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

In [2]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [3]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

In [4]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}

In [5]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [7]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
      print("Key not found!")
      exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):c
Updated dictionary
{'a': 1, 'b': 2, 'd': 4}

In [8]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
print (d)

Enter no of records3
Enter name 1A
Enter mark 130
Enter name 2B
Enter mark 215
Enter name 3C
Enter mark 325
{'A': 30, 'B': 15, 'C': 25}

In [9]:
d={}
print (" The dictionary elements are")
for i in range(1,21):
    d[i]=i**2
print (d)
# To print key and values
print (" Key==> Value are")
for (k,v) in d.items():	
    print(k,"==>",v)
# To print key only
print ("\nTo print key only")
for k in d.keys():	
    print(k, end="")
#To print value only
print ("\nTo print values only")
for v in d.values():	
      print(v, end="")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1234567891011121314151617181920
To print values only
149162536496481100121144169196225256289324361400

In [11]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
    print(d[num])
if(num>20 and num<100):
    if num%10==0:       
        print(d[num])
    else:
        print(d[num//10*10]+""+d[num%10])

Enter the integer between 1 to 99:62
sixtytwo

In [12]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

In [27]:
file = open("foo.txt", "w") 
file.write("Your text goes here") 
file.close() 
fname = input("Enter filename:")
num_lines = 0
with open(fname, 'r') as f:
    for line in f:
        num_lines += 1
print("Number of lines:")
print(num_lines)

Enter filename:foo.txt
Number of lines:
1

In [31]:
file = open("foo.txt", "w") 
file.write("Your text goes here") 
file.close() 
fname = input("Enter file name: ")
num_words = 0
with open(fname, 'r') as f:
    for line in f:
      words = line.split()
      num_words += len(words)
print("Number of words:")
print(num_words)

Enter file name: foo.txt
Number of words:
4

In [34]:
file = open("foo.txt", "w") 
file.write("Your text goes here") 
file.close() 
fname = input("Enter file name: ")
word=input("Enter word to be searched:")
k = 0
with open(fname, 'r') as f:
    for line in f:
      words = line.split()
for i in words:
      if(i==word):
        k=k+1
print("Occurrences of the word:")
print(k)

Enter file name: foo.txt
Enter word to be searched:goes
Occurrences of the word:
1

In [42]:

file = open("foo.txt", "w") 
file.write("Your text goes here") 
file.close() 
filename=input("Enter file name: ")
with open (filename,'r') as f:
    for line in f:
        l=line.split()
        l.reverse() 
        st= "".join(l)
print (st)

Enter file name: foo.txt
heregoestextYour